*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    scroll-behavior: smooth;
}
::selection{
    background-color: #000;
    color: white;
}
/* declaring variables */
:root{
    --primary-color: #f83d8e;
    --primary-color-rgb: 248, 61, 142;
    --secondary-color: rgb(104, 50, 146);
    --secondary-color-rgb: 104, 50, 146;
    --tertiary-color: black;
    --text-color-light: #707070;
    --white: #fff;
    --black: #000;
    --white-rgb: 255, 255, 255;
    --black-rgb: 0, 0, 0;
    --heading-font-size: 30px;
    --text-size: 20px;
    --pri-font: 'Berkshire Swash';
    --sec-font: 'Archivo';
    --gw: 15px;
    --gh: 15px;
}
/* setting primary variables */
body{
    font-family: var(--sec-font);
    background-color: var(--white);
    color: var(--black);
    font-size: var(--text-size);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
ul, ol{
    padding-left: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--pri-font);
    font-weight: 200;
}
.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    padding-left: var(--gw);
    padding-right: var(--gw);
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gw));
    margin-right: calc(-1 * var(--gw));
}
.col-1{
    width: 8.3333%;
}
.col-2{
    width: 16.6666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333%;
}
.col-5{
    width: 41.6666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333%;
}
.col-11{
    width: 91.6666%;
}
.col-12{
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding-left: var(--gw);
    padding-right: var(--gw);
} 
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.item-end{
    justify-items: flex-end;
}
.self-center{
    align-self: center;
}
.grow{
    flex-grow: 1;
}
.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.order-3{
    order: 3;
}
.order--1{
    order: -1;
}
.margin-top{
    margin-top: 80px;
}
.margin-bottom{
    margin-bottom: 80px;
}
.margin-top-240{
    margin-top: 240px;
}
.title{
    margin-bottom: 30px;
    text-align: center;
}
.title p{
    margin-bottom: 50px;
    font-family: var(--sec-font);
    margin-top: 15px;
    font-size: 20px;
}
.title h2{
    font-size: 65px;
    text-shadow: 2px 2px 2px var(--black);
}
.title span{
    font-size: 65px;
    color: var(--primary-color);
}

/* back to top */
.back-top{
    position: fixed;
    bottom: 8%;
    right: -1%;
    transform: rotate(-90deg);
    z-index: 2000;
}
.back-top a{
    color: var(--primary-color);
    font-weight: 1000;
    font-size: 14px;
}
.back-top a i{
    margin-left: 10px;
}

/* ========= top bar ========= */
.top-bar{
    width: 100%;
    min-height: 10px;
    background-color: rgba(var(--primary-color-rgb), 0.6);
    padding: 5px;
    position: relative;
}
.top-bar::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(var(--secondary-color-rgb), 0.6);
    right: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(3% 0%, 0% 50%, 3% 100%, 100% 100%, 100% 0%);
}
.info-side, .social-side{
    display: flex;
    gap: 20px;
}
.info-side li a i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(var(--white-rgb), 0.7);
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: var(--secondary-color);
    font-size: 14px;
}
.info-side li a span:hover{
    color: var(--secondary-color);
}
.info-side li a span{
    margin-left: 5px;
    font-size: 18px;
    color: rgba(var(--white-rgb), 0.7);
}
.social-side li span{
    font-size: 16px;
    color: rgba(var(--white-rgb), 0.7);
}
.social-side li a i{
    width: 30px;
    height: 30px;
    background-color: rgba(var(--white-rgb), 0.7);
    border-radius: 50%;
    text-align: center;
    line-height: 31px;
    display: inline-block;
}
.social-side li a{
    color: var(--secondary-color)
}
.info-side li a i:hover, .social-side li a i:hover{
    color: var(--primary-color);
}

/* ========= nav-bar ========= */
nav{
    z-index: 1000;
    position: sticky;
    top: 0;
    position: relative;
    height: 80px;
    padding-top: 5px;
}
.z-index{
    z-index: 1000;
}
.logo{
    width: 200px;
    height: 70px;
    z-index: 1000;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-list{
    display: flex;
    font-family: var(--sec-font);
    gap: 30px;
    font-size: 16px;
    z-index: 1000;
}
.nav-list > li > a{
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 25px 0;
    padding-bottom: 32px;
    display: inline-block;
}
.nav-list li a i{
    margin-left: 3px;
}
.nav-list > li > a:hover{
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}
.nav-list > li:first-child > a{
    color: var(--primary-color);
    font-weight: 700;
}
.icons{
    display: flex;
    gap: 40px;
}
.icons a{
    color: var(--black);
    font-size: 20px;
}

/* button */
.btn{
    color: var(--white);
    font-family: var(--sec-font);
    font-size: 16px;
    display: block;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: var(--primary-color);
    text-align: center;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-left: 5px;
}
.btn i{
    margin-left: 5px;
    z-index: 1;
}
.btn:hover{
    box-shadow: 0px 0px 10px var(--secondary-color);
}
.btn::before, .btn::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 150px;
    background-color: var(--secondary-color);
    z-index: -1;
    transition: all 0.5s ease-in-out;
    border-radius: 70%;
    opacity: 0;
}
.btn::before{
    top: -70px;
    left: -15px;
    transform: rotate(45deg) translateX(-70%);
    transition: all 0.5s ease-in-out;
}
.btn::after{
    bottom: -70px;
    right: -20px;
    transform: rotate(45deg) translateX(65%);
    transition: all 0.5s ease-in-out;
}
.btn:hover::before, .btn:hover::after{
    transform: rotate(45deg) translateX(0%);
    opacity: 1;
}

/* dropdown */
.dropdown{
    position: relative;
    display: inline-block;
    z-index: 1000;
}
.dropdown-menu{
    position: absolute;
    width: 150px;
    left: -10%;
    display: none;
    transition: all 1s ease;
    z-index: 1000;
    background-color: rgba(var(--primary-color-rgb), 0.4);
}
.dropdown:hover .dropdown-menu{
    display: block;
    transition: all 1s ease;
}
.dropdown-menu li a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    display: inline-block;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.dropdown-menu li{
    transition: all 0.5s ease;
    border-bottom: 1px solid rgba(var(--black-rgb), 0.1);
}
.dropdown-menu li:hover{
    background-color: rgba(var(--primary-color-rgb), 0.5);
}

/* ================================ home layout-1 =========================== */
/* ======= hero ======= */

.hero{
    width: 100%;
    min-height: 500px;
    /* background: url(../images/gradient/Gradient.png); */
    background-size: cover;
    background-position: center;
    top: 0;
    z-index: -1;
    overflow: hidden;
    padding-top: 20px;
    /* position: absolute; */
}
.hero::before{
    content: '';
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    position: absolute;
    background: url(../images/gradient/Gradient.png);
    background-size: cover;
    background-position: center;
}
.hero-pd{
    padding-top: 70px;
}
.hero .title h2, .hero .title span, .offer .title h2{
    font-size: 90px;
}
.text-side{
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    padding-left: 40px;
    z-index: 1;
}
.line{
    width: 50px;
    height: 5px;
    background-color: var(--black);
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.text-side > span{
    font-size: 30px;
    line-height: 50px;
    margin-left: 10px;
    font-family: var(--pri-font);
}
.text-side p{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 18px;
    font-family: var(--sec-font);
    font-weight: 500;
}
.text-side .btn{
    width: 300px;
    font-size: 14px;
    background-color: var(--secondary-color);
    z-index: 1;
    margin-left: 20px;
}
.text-side .btn:hover{
    box-shadow: 0px 0px 10px var(--primary-color);
}
.text-side .btn::before, .text-side .btn::after{
    background-color: var(--primary-color);
    width: 180px;
}
.banner-img{
    width: 100%;
    height: 600px;
    padding: 20px;
    margin-left: 70px;
}
.banner-img img{
    width: 500px;
    height: 580px;
    object-fit: cover;
    z-index: 1;
    transition: all 1s ease;
    animation: move-img 2s ease;
}
@keyframes move-img{
    0%{
        transform: translateX(90%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
.wave{
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: -1;
}
.background{
    position: relative;
    z-index: 1;
}
.background > .left-img{
   position: absolute;
   top: -20px;
   left: -2%;
}
.background .gradient{
    position: absolute;
    z-index: -1;
    width: 500px;
    height: 500px;
    right: 12.5%;
    top: 17%;
    transition: all 1.5s ease;
    animation: g-scale 2.5s ease;
}
@keyframes g-scale{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.hero .title{
  animation: move-title 2s ease;
  text-align: left;
}
@keyframes move-title{
    0%{
        transform: translateX(-90%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}   


/* ===== section-2 menu ===== */
.menu, .menu-3{
    position: relative;
    overflow: hidden;
}
.relive-circle, .relive-doted, .relive-triangle, .half-circle, .img-back{
    position: absolute;
}
.relive-circle{
    bottom: 30%;
    left: 8%;
}
.relive-doted{
    top: 5%;
    left: 40%;
}
.relive-triangle{
    right: 5%;
    top: 30%;
}
.half-circle{
    bottom: 0%;
    right: 5%;
}
.img-back{
    z-index: -1;
    width: 400px;
    height: 400px;
    left: 12%;
    top: 6%;
}
.menu:hover .img-back, .menu-3:hover .img-back{
    animation: g-scale 1.5s ease;
}
.menu-img{
    width: 450px;
    height: 550px;
    margin-left: 50px;
    z-index: 1;
}
.menu-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu-text p, .favourites p{
    margin-top: 10px;
    font-family: var(--sec-font);
    margin-left: 10px;
    font-size: 18px;
}
.menu-text .btn{
    width: 250px;
    margin-top: 20px;
    font-size: 14px;
}
.menu-text .btn::before, .menu-text .btn::after, .menu-2-text .btn::before, .menu-2-text .btn::after{
    width: 170px;
}
.menu .title, .menu-2 .title h2, .menu-3 .title h2{
    transform: translateX(90%);
    opacity: 0;
    transition: all 1s ease;
    text-align: left;
}
.menu:hover .title, .menu-2:hover .title h2, .menu-3:hover .title h2{
    transform: translateX(0%);
    opacity: 1;
}
.menu-img, .menu-2-img{
    transform: translateY(90%);
    opacity: 0;
    transition: all 1s ease;
}
.menu:hover .menu-img, .menu-2:hover .menu-2-img, .menu-3:hover .menu-img{
    transform: translateY(0%);
    opacity: 1;
}


/* section-4-favourites */

.favourites, .best-sellar, .catagories, .review, .sign-in, .follow-us, .catagories-3{
    position: relative;
    width: 100%;
    min-height: 200px;
    padding-top: 120px;
    padding-bottom: 120px;
    overflow: hidden;
}
.favourites::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/gradient/Gradient\ \(2\).png);
    background-size: cover;
    background-position: center;
    z-index: -2;
}
.item{
    width: 100%;
    height: 420px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    z-index: 1;
    transform: translateY(90%);
    opacity: 0;
    transition: all 1s ease;
}
.favourites:hover .item, .best-sellar:hover .item, .popular:hover .popular-item, .best:hover .popular-item, .flavours-3:hover .flavours-item, .popular-3:hover .flavours-item, .review-3:hover .review-item{
    transform: translateY(0%);
    opacity: 1;
}
.item:hover{
    box-shadow: 0px 0px 15px var(--secondary-color);
    transition: box-shadow 0.3s ease;
}
.item .item-img{
    width: 100%;
    height: 220px;
    border-radius: 30px;
    padding-top: 15px;
    position: relative;
}
.item-img img{
    width: 200px;
    height: 180px;
    object-fit: cover;
    border-radius: 30px;
    margin: 5px 40px;
    transition: all 0.5s ease;
}
.item:hover .item-img img{
    transform: scale(1.1);
}
.item-img a{
    display: block;
    position: absolute;
    padding: 10px 15px;
    background-color: white;
    top: 5%;
    left: 5%;
    border-radius: 50%;
    color: #000;
}
.item-content{
    margin-top: 10px;
    position: relative;
    padding: 5px;
}
.item-content .rating{
    display: flex;
    gap: 5px;
}
.item-content h3{
    font-family: var(--sec-font);
    font-size: 23px;
    font-weight: 600;
}
.item-content .rating{
    font-family: var(--sec-font);
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 10px;
}
.rating img{
    width: 13px;
    height: 13px;
    object-fit: cover;
}
.rating span{
    font-size: 16px;
}
.item-content p{
    text-align: left;
    margin: 0;
    margin-top: 15px;
}
.price span{
    display: inline-block;
    margin-top: 20px;
    font-family: var(--sec-font);
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 600;
}
.item-content i{
    padding: 15px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 0;
    text-align: center;
}
.brownie{
    background-color: #F7F2F7;
}
.strawberry{
    background-color: #FFEEEE;
}
.mint-choco{
    background-color: #F6F9E1;
}
.vanilla{
    background-color: #FFFAF4;
}
.strawberry > img{
    width: 180px;
    height: 190px;
    margin-left: 50px;
    margin-top: 0px;
}
.mint-choco img{
    width: 140px;
    height: 180px;
    margin: 5px auto;
}
.vanilla img{
    width: 100px;
    height: 190px;
    margin: 0px auto;
}
.favourite-left, .favourite-right{
    position: absolute;
    z-index: -1;
}
.favourite-left{
    top: 0;
    left: 0;
    width: 180px;
    height: 300px;
}
.favourite-right{
    bottom: 0;
    right: 0;
    width: 110px;
    height: 300px;
}
.favourites .title, .best-sellar .title, .catagories .title, .offer .title, .review .title, .sign-in .title, .follow-us .title, .popular .title, .offer-2 .title, .best .title, .review-2 .title, .sign-in-2 .title, .flavours-3 .title, .catagories-3 .title, .popular-3 .title, .review-3 .title, .questions .title, .members .title{
    transform: translateY(-140%);
    opacity: 0;
    transition: all 1s ease;
}
.favourites:hover .title, .best-sellar:hover .title, .catagories:hover .title, .offer:hover .title, .review:hover .title, .sign-in:hover .title, .follow-us:hover .title, .popular:hover .title, .offer-2:hover .title, .best:hover .title, .review-2:hover .title, .sign-in-2:hover .title, .flavours-3:hover .title, .catagories-3:hover .title, .popular-3:hover .title, .review-3:hover .title, .questions:hover .title, .members:hover .title{
    transform: translateY(0%);
    opacity: 1;
}
.item-s{
    transition-delay: 0.2s;
}
.item-m{
    transition-delay: 0.4s;
}
.item-v{
    transition-delay: 0.6s;
}

/* section-5-catagories */
.catagories .catagory-item, .catagories-3 .catagory-item{
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    border-radius: 20px;
    background-position: center;
    background-color: #683292;
    padding: 10px;
    transition: all 0.5s ease;
}
.sundaes{
    position: relative;
    background: url(../images/Home-layout-1/section-5-catagories/categories-image1.jpg.png);
    background-size: cover;
}
.catagory-item:hover{
    transform: scale(1.05);
}
.cones{
    position: relative;
    background: url(../images/Home-layout-1/section-5-catagories/Figure.png);
    background-size: cover;
}
.milkshake{
    position: relative;
    background: url(../images/Home-layout-1/section-5-catagories/Figure\ \(1\).png);
    background-size: cover;
}
.seasonal{
    position: relative;
    background: url(../images/Home-layout-1/section-5-catagories/Figure\ \(2\).png);
    background-size: cover;
}
.catagory-content{
    position: absolute;
    width: 93%;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    left: 10px;
    display: flex;
    padding: 20px;
}
.catagory-content p{
    font-weight: 600;
    line-height: 10px;
}
.catagory-content i{
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: white;
}

/* section-6-offer */
.offer{
    width: 100%;
    min-height: 200px;
    background-color: var(--secondary-color);
    padding: 100px;
    position: relative;
    overflow: hidden;
}
.offer .title h2{
    color: white;
    margin-left: 120px;
    margin-top: 50px;
}
.offer p{
    margin-left: 120px;
    margin-top: 30px;
    font-size: 27px;
    color: white;
}
.offer .get{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.get span{
    color: white;
}
.offer .btn{
    width: 200px;
    margin-left: 120px;
}
.offer .btn:hover{
    box-shadow: 0px 0px 15px var(--primary-color);
}
.offer .btn::before, .offer .btn::after{
    display: none;
}
.m-triangle, .s-dotted, .offer-dis, .dot-arrow, .r-img{
    position: absolute;
}
.offer-dis{
    width: 140px;
    height: 140px;
    object-fit: cover;
    top: 30%;
    left: 50%;
}
.dot-arrow{
    top: 17%;
    left: 54%;
}
.s-dotted{
    left: 3%;
    top: 70%;
}
.m-triangle{
    top: 40%;
    left: 7%;
}
.r-img{
    right: 0;
    bottom: 10%;
}
.offer .title{
    text-align: left;
}

/* section-7-best sellar */
.choco-chip-cookie{
    background-color: #FFF3EA;
}
.rocky-road{
    background-color: #F8EBE4;
}
.peach{
    background-color: #FFEFD8;
}
.s-sundae{
    background-color: #FFEFF0;
}
.choco-chip-cookie img{
    width: 97px;
    height: 191px;
    margin: 1px auto;
}
.rocky-road img{
    width: 119px;
    height: 193px;
    margin: 1px auto;
}
.peach img{
    width: 160px;
    height: 173px;
    margin: 1px auto;
}
.s-sundae img{
    width: 171px;
    height: 174px;
    margin: 1px auto;
}
.best-sellar .item{
    background-color: rgb(255, 255, 243);
}
.best-sellar .item:hover{
    box-shadow: 0px 0px 15px var(--primary-color);
}

/* section-8-review */
.review{
    background: url(../images/gradient/Gradient.png);
    background-size: cover;
    background-position: center;
}
.review-content{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 550;
    line-height: 1.5;
    position: relative;
}
.review-content::before{
    content: '';
    position: absolute;
    width: 220px;
    height: 205px;
    background: url(../images/Home-layout-1/section-8-review/Figure\ →\ testimonial-quoteimage.png.png);
    background-size: cover;
    background-position: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.name{
    margin-top: 50px;
}
.name h4{
    font-size: 25px;
    color: var(--primary-color);
    font-family: var(--sec-font);
}
.stars{
    display: flex;
    gap: 5px;
    margin: 10px auto;
}
.face-1, .face-2, .face-3, .face-4, .face-5, .face-6, .face-7, .face-8, .s-circle, .s-triangle, .p-dot, .pink-dot{
    position: absolute;
}
.face-1{
    top: 30%;
    left: 10%;
    width: 106px;
    height: 110px;
    object-fit: cover;
    opacity: 1;
}
.face-2{
    top: 45%;
    left: 20%;
    width: 92px;
    height: 91px;
    object-fit: cover;
    opacity: 1;
}
.face-3{
    top: 60%;
    left: 6%;
    width: 88px;
    height: 97px;
    object-fit: cover;
    opacity: 1;
}
.face-4{
    top: 70%;
    left: 23%;
    width: 109px;
    height: 100px;
    object-fit: cover;
    opacity: 1;
}
.face-5{
    top: 25%;
    right: 12%;
    width: 102px;
    height: 107px;
    object-fit: cover;
    opacity: 1;
}
.face-6{
    top: 43%;
    right: 20%;
    width: 105px;
    height: 104px;
    object-fit: cover;
    opacity: 1;
}
.face-7{
    top: 55%;
    right: 10%;
    width: 83px;
    height: 77px;
    object-fit: cover;
    opacity: 1;
}
.face-8{
    top: 75%;
    right: 25%;
    width: 88px;
    height: 97px;
    object-fit: cover;
    opacity: 1;
}
.review-content p, .review-content-2{
    transform: scale(0.5);
    opacity: 0;
    transition: all 1s ease;
}
.review:hover .review-content p, .review-2:hover .review-content-2{
    transform: scale(1);
    opacity: 1;
}

/* section-9-sign-in */
.sign-in, .sign-in-2{
    background-color: #f5f5f5;
}
.sign-in .title, .sign-in-2 .title{
    margin-bottom: 50px;
}
.form{
    text-align: center;
}
.input{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}
.input .email{
    width: 400px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    transform: translateX(-120%);
    opacity: 0;
    transition: all 1s ease;
}
.sign-in:hover .input .email, .sign-in-2:hover .input .email{
    transform: translateX(0%);
    opacity: 1;
}
.sign-in .btn, .sign-in-2 .btn{
    transform: translateX(110%);
    opacity: 0;
    transition: all 1s ease;
}
.sign-in:hover .btn, .sign-in-2:hover .btn{
    transform: translateX(0%);
    opacity: 1;
}
.input input::placeholder{
    margin-left: 20px;
    font-size: 20px;
}
.form label a{
    color: var(--primary-color);
    text-decoration: underline;
}
.s-circle{
    bottom: 22%;
    left: 15%;
}
.s-triangle{
    top: 30%;
    right: 15%;
}

/* section-10-follow us */

.follow-us{
    background: url(../images/gradient/Gradient.png);
    background-size: cover;
    background-position: center;
}
.follow-img{
    margin-top: 50px;
    gap: 10px;
}
.f-img{
    overflow: hidden;
    position: relative;
}
.f-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.f-img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 190px;
    height: 234px;
    border-radius: 20px;
    background-color: rgba(var(--black-rgb), 0.5);
    opacity: 0;
    transition: all 0.5s ease;
}
.f-img:hover::before{
    opacity: 1;
}
.f-img::after{
    content: "";
    position: absolute;
    width: 160px;
    height: 204px;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    top: 15px;
    left: 30px;
    transform: scale(0);
    transition: all 0.5s ease;
}
.f-img:hover::after{
    transform: scale(1);
}
.f-img i{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.f-img a{
    color: var(--primary-color);
    font-size: 30px;
    opacity: 0;
    transition: all 1s ease;
}
.f-img:hover a{
    opacity: 1;
}
.p-dot{
    bottom: 8%;
    right: 10%;
}
.pink-dot{
    top: 35%;
    left: 10%;
}

/* footer */
.footer, .footer-2{
    width: 100%;
    min-height: 200px;
    padding: 50px;
    padding-top: 100px;
    background-color: var(--secondary-color);
    color: white;
    position: relative;
}
.footer h3, .footer-2 h3{
    font-size: 30px;
    font-family: var(--sec-font);
}
.navigation-list{
    display: flex;
    gap: 60px;
    margin-bottom: 40px;
}
.footer .navigation-list ul, .footer-2 .navigation-list ul{
    list-style: disc;
    color: var(--primary-color);
    margin-top: 10px;
}
.navigation h3{
    margin-left: 40px;
}
.navigation-list ul li{
    margin-top: 20px;
    color: white;
}
.navigation-list ul li a{
    color: white;
}
.navigation-list ul li a:hover{
    color: var(--primary-color);
}
.navigation-list ul li::marker{
    color: var(--primary-color);
}
.footer-item{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}
.ad-margin{
    margin-bottom: 30px;
}
.footer-item i{
    background-color: rgba(var(--white-rgb), 0.3);
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.footer-content h4{
    font-family: var(--sec-font);
    font-size: 20px;
    font-weight: 550;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.footer-content p{
    font-size: 18px;
    color: rgba(var(--white-rgb), 0.7);
    line-height: 1.5;
}
.footer-content a{
    color: white;
}
.footer-content p a{
    color: rgba(var(--white-rgb), 0.7);
}
.footer-content a:hover{
    color: var(--primary-color);
}
.footer-icons{
    margin-bottom: 40px;
}
.footer-icons ul{
    display: flex;
    gap: 20px;
}
.footer-icons ul li a{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(var(--white-rgb), 0.3);
    text-align: center;
    line-height: 60px;
    color: rgba(var(--white-rgb), 0.7);
}
.icon-margin{
    margin-bottom: 40px;
}
.footer-img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 250px;
    object-fit: cover;
}
.footer::after, .footer-2::after{
    content: 'Copyright © Kalash patel. All right reserved';
    width: 100%;
    height: 30px;
    background-color: rgba(var(--primary-color-rgb), 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    text-align: center;
    color: rgba(var(--white-rgb), 0.7);
    font-size: 18px;
    padding-top: 5px;
    line-height: 30px;
}


/* Home layout 2 */

/* section-2 herosection */
.hero-2, .popular, .menu-2, .options, .offer-2, .best, .review-2, .sign-in-2{
    width: 100%;
    min-height: 200px;
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
}
.hero-2{
    background-color: var(--secondary-color);
}
.hero-2 .title{
    text-align: left;
    color: white;
    animation: move-title 2s ease;
}
.hero-2 .title h2{
    font-size: 95px;
}
.hero-2 .title p{
    margin-left: 5px;
    font-size: 20px;
}
.hero-2 .text-side-2 .btn{
    width: 300px;
    font-size: 14px;
    z-index: 1;
}
.text-side-2 .btn::after, .text-side-2 .btn::before{
    display: none;
}
.text-side-2 .btn:hover{
    box-shadow: 0px 0px 15px var(--primary-color);
}
.banner-img-2 img{
    margin-left: 70px;
    animation: move-img 2s ease;
}
.hero-2 > img, .menu-2 > img, .offer-2 > img, .best > img, .review-2 > img{
    position: absolute;
}
.triangle-2-h{
    bottom: 0;
    left: 25%;
}
.cross-2{
    top: 25%;
    left: 50%;
}
.dotted-2-h{
    top: 65%;
    left: 45%;
}
.wave-2-h{
    top: 65%;
}
.dis-r-h{
    top: 17%;
    left: 57%;
}
.dot-2-h{
    top: 6%;
    left: 60%;
}

/* section-3-popular */

.popular-item{
    width: 100%;
    min-height: 200px;
}
.popular-img{
    width: 350px;
    height: 289px;
    overflow: hidden;
    margin-left: 30px;
    overflow: hidden;
}
.popular-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.popular-content{
    text-align: center;
}
.rating-2{
    display: flex;
    gap: 5px;
}
.rating-2 img{
    width: 14px;
    height: 13px;
    object-fit: cover;
}
.popular-content ul li:not(:last-child){
    margin: 20px auto;
}
.popular-content ul li h3, .popular-content .rating-2{
    font-family: var(--sec-font);
    font-weight: 800;
}
.popular-content ul li:nth-child(3){
    font-size: 25px;
    font-weight: 800;
    color: var(--secondary-color);
}
.popular-content .btn{
    width: 180px;
    margin: 0px auto;
}
.popular-content ul li h3:hover{
    color: var(--primary-color);
}
.popular-item:hover .popular-img img{
    transform: scale(1.2);
}
.popular-item{
    transform: translateY(90%);
    opacity: 0;
    transition: all 1s ease;
}
.transition-delay-1{
    transition-delay: 0.2s;
}
.transition-delay-2{
    transition-delay: 0.4s;
}
.transition-delay-3{
    transition-delay: 0.6s;
}

/* section-4-menu-2 */
.menu-2{
    background: url(../images/gradient/Gradient.png);
    background-size: cover;
    background-position: center;
}
.menu-2-img{
    margin-left: 45px;
}
.menu-2-text .title{
    text-align: left;
}
.menu-2-text .title p{
    margin-bottom: 20px;
    color: var(--text-color-light);
}
.menu-2-text p{
    color: var(--text-color-light);
    margin-bottom: 50px;
}
.menu-2-text .title h2{
    margin-bottom: 40px;
}
.menu-2-text .btn{
    width: 260px;
}
.right-2-m{
    bottom: 5%;
    right: 0;
}
.dot-2-m{
    top: 40%;
    left: 5%;
}
.circle-2-m{
    top: 55%;
    left: 7%;
}
.triangle-2-m{
    top: 20%;
    right: 10%;
}

/* section-5-options */
.item-first, .item-second, .item-third{
    position: relative;
    overflow: hidden;
}
.item-first::before, .item-third::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--black-rgb), 0.4);
    color: rgba(var(--white-rgb), 0.8);
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    content: '';
}
.item-first::before{
    transform: translateX(100%);
}
.item-third::before{
    transform: translateX(-100%);
}
.item-text-first, .item-third-text{
    position: absolute;
    z-index: 3;
    top: 45%;
    left: 40%;
    transition: all 0.5s ease;
}
.item-text-first{
    transform: translateX(260%);
}
.item-third-text{
    transform: translateX(-260%);
}
.item-text-first a, .item-third-text a{
    color: rgba(var(--white-rgb), 0.7);
    transition: all 0.3s ease;
}
.item-text-first a:hover, .item-third-text a:hover{
    color: var(--primary-color);
}
.item-text-first a i, .item-third-text a i{
    margin: 0px 5px;
}
.item-second::before, .item-second::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(var(--black-rgb), 0.5);
    transition: all 0.5s ease;
}
.item-second::before{
    top: 0;
    left: 0;
    transform: translateX(-100%);
}
.item-second::after{
    top: 0; 
    left: 50%;
    transform: translateX(100%);
}
.item-second-text{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: all 0.7s ease;
}
.item-second-text i{
    width: 50px;
    height: 50px;
    background-color: rgba(var(--primary-color-rgb), 0.7);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: rgba(var(--white-rgb), 0.7);
    margin-bottom: 20px;
}
.item-second-text p{
    color: rgba(var(--white-rgb), 0.7);
}
.item-second:hover .item-second-text{
    opacity: 1;
}
.item-first:hover::before, .item-first:hover .item-text-first, .item-second:hover::before, .item-second:hover::after, .item-third:hover::before, .item-third:hover .item-third-text{
    transform: translateX(0%);
}

/* section-6-offer */

.offer-2{
    background-color: var(--primary-color);
    text-align: center;
}
.offer-2 .title h2{
    color: white;
    font-size: 112px;
}
.offer-2 p{
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}
.offer-2 p span{
    color: yellow;
}
.offer-2 .btn{
    width: 250px;
    background-color: var(--secondary-color);
    margin: 10px auto;
}
.offer-2 .btn::before, .offer-2 .btn::after{
    display: none;
}
.offer-2-code{
    margin-top: 30px;
    font-size: 20px;
    color: white;
}
.dot-2-o{
    top: 25%;
    left: 25%;
}
.wave-2-o{
    bottom: 25%;
    right: 25%;
}
.left-img-o{
    bottom: 0;
    left: 0;
    transform: translateX(-90%);
    opacity: 0;
    transition: all 1s ease;
}
.offer-2:hover .left-img-o, .offer-2:hover .right-img-o{
    transform: translateX(0%);
    opacity: 1;
}
.right-img-o{
    right: -2%;
    bottom: 5%;
    transform: translateX(90%);
    opacity: 0;
    transition: all 1s ease;
}

/* section-7-best */

.left-img-b{
    bottom: 10%;
    left: 0;
}

/* section-8-review */

.review-2{
    background: url(../images/gradient/Gradient.png);
    background-size: cover;
    background-position: center;
}
.review-content-2{
    margin-top: 50px;
    text-align: center;
}
.review-content-2 ul li{
    margin-bottom: 40px;
}
.review-content-2 ul li p{
    font-size: 20px;
    line-height: 1.1;
}
.review-content-2 ul li h4{
    font-family: var(--secondary-color);
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}
.review-content-2 ul li:nth-child(3){
    color: var(--text-color-light);
    font-size: 16px;
}
.review-faces{
    display: flex;
    gap: 30px;
    margin-left: 110px;
}
.review-faces a{
    color: black;
}
.faces{
    position: relative;
    z-index: 1;
}
.faces::before{
    content: '';
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -1;
}
.faces:hover::before{
    opacity: 1;
}
.back-img-r{
    top: 30%;
    left: 15%;
}

/* sign in */

.sign-in-2{
    padding-bottom: 250px;
}
/* images */

.images-2{
    width: 1400px;
    height: 250px;
    position: absolute;
    z-index: 10;
    top: -25%;
    left: 4%;
    display: flex;
}
.images-item{
    width: calc(100% / 6);
    height: 100%;
    overflow: hidden;
}
.images-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}
.images-item:hover img{
    transform: scale(1.2);
}
/* footer */

.footer-2{
    padding-top: 200px;
}


/* ===================================== home layout 3 ================================*/

/* section-1 hero */
.hero-3, .flavours-3, .offer-3, .popular-3, .review-3, .questions{
    width: 100%;
    min-height: 200px;
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
}
.hero-3{
    background: url(../images/home-layout-3/section-1-hero/Section.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}
.hero-3-content{
    width:100%;
    height: 650px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 90px 100px #c23e82;
    position: relative;
    text-align: center;
    overflow: hidden;
    animation: move-title 2s ease;
}
.hero-3-content .title{
    padding-top: 100px;
}
.hero-3-content .title h2, .hero-3-content .title span{
    font-size: 100px;
}
.hero-3-content .title p{
    margin-bottom: 30px;
}
.hero-3-content .btn{
    width: 320px;
    margin-left: 155px;
    background-color: var(--secondary-color);
}
.hero-3-content .btn::before, .hero-3-content .btn::after{
    background-color: var(--primary-color);
    width: 182px;
    height: 182px;
}
.hero-3-content .btn:hover{
    box-shadow: 0px 0px 10px var(--primary-color);
}
.hero-3-content > img{
    position: absolute;
}
.img-3-h{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
}
.pink-dot-3-h{
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
}

/* section-3-menu */
.menu-3{
    padding-bottom: 50px;
}
.menu-3 .menu-img{
    width: 590px;
    height: 520px;
    margin-left: 80px;
}
.menu-3 .title, .about-journey .title {
    margin-bottom: 10px;
}
.menu-3 p, .about-journey p{
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    color: var(--text-color-light);
}
.menu-3 .btn, .about-journey .btn{
    margin-top: 40px;
}
.menu-3 .relive-doted{
    top: 10%;
    left: 15%;
}

/* section-4-flavours */
.flavours-3, .popular-3{
    background: url(../images/gradient/Gradient.png);
    background-size: cover;
    background-position: center;
}
.flavours-item, .review-item, .member-item{
    width: 100%;
    transform: translateY(90%);
    opacity: 0;
    transition: all 1s ease;
}
.members:hover .member-item{
    transform: translateY(0%);
    opacity: 1;
}
.flavours-item .flavours-img{
    width: 100%;
    height: 189px;
    background-color: white;
    border-radius: 50%;
}
.flavours-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}
.flavours-item:hover .flavours-img img, .member-item:hover .member-img img{
    transform: scale(1.1);
}
.flavours-content{
    margin-top: 20px;
    text-align: center;
}
.flavours-content .rating{
    display: flex;
    gap: 10px;
    margin-left: 60px;
}
.flavours-content .rating span{
    font-weight: 700;
}
.flavours-content ul li:not(:last-child){
    margin-bottom: 20px;
}
.flavours-content h3{
    font-family: var(--sec-font);
    font-weight: 700;
}
.flavours-content ul li:nth-child(3){
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 700;
}
.transition-delay-1{
    transition-delay: 0.2s;
}
.transition-delay-2{
    transition-delay: 0.4s;
}
.transition-delay-3{
    transition-delay: 0.6s;
}
.flavours-3 > img, .offer-3 > img, .popular-3 > img{
    position: absolute;
}
.right-3-f{
    right: 0;
    bottom: 15%;
}

/* section-5-catagories-3 */
.classic-flavours{
    position: relative;
    background: url(../images/home-layout-3/section-4-favourite/Figure-1.png);
    background-size: cover;
}
.seasonal-special{
    position: relative;
    background: url(../images/home-layout-3/section-4-favourite/Figure-2.png);
    background-size: cover;
}
.cake{
    position: relative;
    background: url(../images/home-layout-3/section-4-favourite/figure-3.png);
    background-size: cover;
}
.pints{
    position: relative;
    background: url(../images/home-layout-3/section-4-favourite/figure-4.png);
    background-size: cover;
}

/* section-6 offer */
.offer-3{
    background-color: var(--secondary-color);
}
.offer-3 .title{
    color: white;
    text-align: left;
}
.offer-3 .title h2{
    font-size: 100px;
}
.offer-3 .title p span{
    color: yellow;
    font-size: 30px;
}
.offer-3 .title p{
    font-size: 30px;
}
.offer-3 .btn{
    width: 200px;
}
.offer-3 .btn::before, .offer-3 .btn::after{
    display: none;
}
.offer-3 .btn:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px var(--primary-color);
}
.back-img-3-o{
    right: 0;
    top: 0;
    width: 750px;
    height: 100%;
}
.triangle-3-o{
    top: 30%;
    left: 5%;
}
.cross-3-o{
    bottom: 20%;
    left: 4%;
}
.wave-3-o{
    bottom: 10%;
    left: 40%;
}

/* section-7-popular */
.right-img-3-p{
    bottom: 10%;
    left: 0;
}

/* section-8-review */
.review-item{
    width: 100%;
    min-height: 100px;
    background-color: #f5f5f5;
    border-radius: 30PX;
    border-bottom: 4px solid var(--primary-color);
    padding: 20px;
}
.review-item p{
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 30px;
}
.review-face-3{
    display: flex;
    gap: 20px;
}
.review-rating-3 ul li:not(:last-child){
    margin-bottom: 5px;
}
.review-rating-3 ul li:nth-child(2){
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 700;
}
.review-rating-3 ul li:nth-child(3){
    font-size: 18px;
    color: var(--text-color-light);
}

/* section-8-questions */
.questions, .page-title{
    background: url(../images/gradient/Gradient.png);
    background-size: cover;
    background-position: center;
}
.questions ul li{
    width: 100%;
    height: 60px;
    background-color: white;
    border-radius: 20px;
}
.questions ul li:not(:last-child){
    margin-bottom: 20px;
}
.questions ul li p{
    line-height: 60px;
    margin-left: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.left-list{
    transform: translateX(-90%);
    opacity: 0;
    transition: all 1s ease;
}
.right-list{
    transform: translateX(90%);
    opacity: 0;
    transition: all 1s ease;
}
.questions:hover .left-list, .questions:hover .right-list{
    transform: translateX(0%);
    opacity: 1;
}

/* =========================================== about us =============================================== */
/* section-1 title */
.page-title, .about-journey, .members, .policies{
    width: 100%;
    min-height: 200px;
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
}
.page-content{
    width: 100%;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}
.page-content p{
    line-height: 60px;
    font-weight: 700;
}
.page-content p span{
    color: var(--primary-color);
}

/* section-2 journey */
.journey-img{
    width: auto;
    height: auto;
    overflow: hidden;
}
.journey-img img{
    transition: all 1.5s ease;
    transform: scale(0);
}
.about-journey:hover .journey-img img{
    transform: scale(1);
}
.journey-text .title{
    text-align: left;
}
.journey-text p{
    font-size: 18px;
}
.journey-text .btn{
    width: 180px;
}
.journey-text .title h2{
    transform: translateX(90%);
    opacity: 0;
    transition: all 1s ease;
}
.about-journey:hover .journey-text .title h2{
    transform: translateX(0%);
    opacity: 1;
}

/* section-3-mission */
.mission .title h2{
    font-size: 70px;
}
.mission-content{
    margin-left: 50px;
}
.mission-content .title p{
    font-size: 20px;
    color: rgba(var(--white-rgb), 0.7);
}

/* section-4-stastic */
.statistic .review-item h1{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.statistic .review-item h1 sup{
    color: var(--primary-color);
}
.statistic .review-item p{
    text-align: center;
    font-size: 16px;
    color: var(--text-color-light);
}

/* section-5-members */
.members{
    background: url(../images/gradient/Gradient-m.png);
    background-size: cover;
    background-position: center;
}
.member-item{
    width: 100%;
    min-height: 200px;
}
.member-img img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: all 1s ease;
}
.member-info{
    margin-top: 30px;
    text-align: center;
}
.member-info > ul >li:not(:last-child){
    margin-bottom: 15px;
}
.member-info ul li h3{
    font-size: 30px;
    font-family: var(--sec-font);
    font-weight: 600;
}
.member-info ul li:nth-child(2){
    color: var(--text-color-light);
}
.member-info .social-side li a i{
    width: 50px;
    height: 50px;
    color: white;
    background-color: var(--primary-color);
    line-height: 50px;
}
.member-info .social-side{
    margin-left: 55px;
}

/* ===================================== out team =============================== */

.team-members .members{
    background: white;
}
.member-list-2{
    margin-top: 100px;
}

/* ===================================== shop ==================================== */

.item-row-2{
    margin-top: 100px;
}

/* =============================== privacy policy ================================ */
.policy-content{
    font-size: 16px;
    text-align: left;
}
.policy-content h3{
    font-family: var(--sec-font);
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}
.policy-content p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.policy-content ul li h3{
    font-size: 20px;
}